{% block main %}
	{% for post in posts  %}
	<div class="card row mb-3">
		<div class="card-header">
		{{ post.title }}
		</div>
		<div class="card-body">
		{{ post.content|raw }}
		</div>
		<div class="card-footer">
			{{ post.publishedDate }} par {{ post.firstname }} {{ post.lastname }}
		</div>
	</div>
	{% endfor %}
{% endblock %}
